<%- include('../common/header.ejs') %>
   
    <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contato">
    <h2 class="w3-text-light-grey">Entre em contato</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <% contatos.forEach(contato => { %>
                       
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title"> Nome: <%= contato.nome %></h5>
                                <h5 class="card-title">E-mail:  <%= contato.email %></h5>
                                <h5 class="card-title">Assunto:  <%= contato.assunto %></h5>
                                <p class="card-text"><%= contato.mensagem.substring(0,50) %>
                                     ...
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <%= contato.data_envio.toLocaleString('pt-BR').split(' ').join(' às ') %>
                                    </small>
                                </p>
                                <a class="btn btn-primary" href="/mensagem?id=<%= contato.id_contato %>">Lê toda</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    
                </div>
            </div>
    
  <!-- End Contact Section -->
  </div>








<%- include('../common/footer.ejs') %>